.wrap{
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.dash{
    min-height: calc(100vh - 64px);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
 padding: 30px;
}

.allBoxes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 100%;
    
}

.noImage{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.noImage h1{
   font-weight: 500;
   color: white;
   font-size: 26px;

}