.wrap{
    min-height: calc(100vh - 64px);
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    width: 48px;
    height: 48px;
    border: 5px solid #FFF;
    border-bottom-color: #FF3D00;
    border-radius: 50%;
    margin: 20px auto;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
    } 

.dash{
    min-height: calc(100vh - 64px);
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      gap: 20px;
 padding: 30px;
}

.allBoxes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    height: 100%;
    
}

.noImage{
    width: 100%;
    display: flex;
    justify-content: center;
    
}

.noImage h1{
   font-weight: 500;
   color: white;
   font-size: 26px;

}